@using Nop.Plugin.TMB.Model.Admin.InvoiceRequest
@using Nop.Web.Framework.Models.DataTables
@using Nop.Plugin.TMB
@using Microsoft.AspNetCore.Routing
@using Nop.Plugin.TMB.Entity
@using Nop.Plugin.TMB.Helpers
@model Nop.Plugin.TMB.Model.Admin.InvoiceRequest.InvoiceRequestModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<input asp-for="GuidId" type="hidden" />
<input asp-for="RequestDate" type="hidden" />
<input asp-for="LastUpdate" type="hidden" />

<div class="cards-group">
    <div class="panel panel-default panel-popup">
        <div class="panel-body">
            <div class="card">
                <div class="card-body">
                    <h4>@T("profile.personalinfo").Text</h4>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <nop-label asp-for="InvoiceRequestStatusDescription"/>
                        </div>
                        <div class="col-sm-4">
                            <b><nop-editor asp-disabled="true" asp-for="InvoiceRequestStatusDescription"/></b>
                        </div>
                    </div>
    
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <nop-label asp-for="Name"/>
                        </div>
                        <div class="col-sm-4">
                            <nop-editor asp-disabled="@(Model.InvoiceRequestStatusId != (int)InvoiceRequestStatusEnum.FAILED)" asp-for="Name" asp-required="true"/>
                        </div>
                    </div>
    
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <nop-label asp-for="Surname"/>
                        </div>
                        <div class="col-sm-4">
                            <nop-editor asp-disabled="@(Model.InvoiceRequestStatusId != (int)InvoiceRequestStatusEnum.FAILED)" asp-for="Surname" asp-required="true"/>
                        </div>
                    </div>
    
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <nop-label asp-for="BusinessName"/>
                        </div>
                        <div class="col-sm-4">
                            <nop-editor asp-disabled="@(Model.InvoiceRequestStatusId != (int)InvoiceRequestStatusEnum.FAILED)" asp-for="BusinessName" asp-required="true"/>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <nop-label asp-for="Email"/>
                        </div>
                        <div class="col-sm-4">
                            <nop-editor asp-disabled="@(Model.InvoiceRequestStatusId != (int)InvoiceRequestStatusEnum.FAILED)" asp-for="Email" asp-required="true"/>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <nop-label asp-for="PEC"/>
                        </div>
                        <div class="col-sm-4">
                            <nop-editor asp-disabled="@(Model.InvoiceRequestStatusId != (int)InvoiceRequestStatusEnum.FAILED)" asp-for="PEC" asp-required="true"/>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <nop-label asp-for="SdICode"/>
                        </div>
                        <div class="col-sm-4">
                            <nop-editor asp-disabled="@(Model.InvoiceRequestStatusId != (int)InvoiceRequestStatusEnum.FAILED)" asp-for="SdICode" asp-required="true"/>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-body">
                <input asp-for="InvoiceRequestFiscalId.Id" type="hidden" />
                <input asp-for="InvoiceRequestFiscalId.InvoiceRequestId" type="hidden" />
                    <h4>@T(TMB.PLUGIN_NAME_SPACE + ".InvoiceRequest.FiscalId").Text</h4>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <nop-label asp-for="InvoiceRequestFiscalId.Country"/>
                        </div>
                        <div class="col-sm-4">
                            <nop-editor asp-disabled="@(Model.InvoiceRequestStatusId != (int)InvoiceRequestStatusEnum.FAILED)" asp-for="InvoiceRequestFiscalId.Country" asp-required="true"/>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <nop-label asp-for="InvoiceRequestFiscalId.Code"/>
                        </div>
                        <div class="col-sm-4">
                            <nop-editor asp-disabled="@(Model.InvoiceRequestStatusId != (int)InvoiceRequestStatusEnum.FAILED)" asp-for="InvoiceRequestFiscalId.Code" asp-required="true"/>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <nop-label asp-for="InvoiceRequestFiscalId.VatCode"/>
                        </div>
                        <div class="col-sm-4">
                            <nop-editor asp-disabled="@(Model.InvoiceRequestStatusId != (int)InvoiceRequestStatusEnum.FAILED)" asp-for="InvoiceRequestFiscalId.VatCode" asp-required="true"/>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-body">
                    <input asp-for="InvoiceRequestAddress.Id" type="hidden" />
                    <input asp-for="InvoiceRequestAddress.InvoiceRequestId" type="hidden" />
                    <h4>@T(TMB.PLUGIN_NAME_SPACE + ".InvoiceRequest.AddressName").Text</h4>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <nop-label asp-for="InvoiceRequestAddress.AddressName"/>
                        </div>
                        <div class="col-sm-4">
                            <nop-editor asp-disabled="@(Model.InvoiceRequestStatusId != (int) InvoiceRequestStatusEnum.FAILED)" asp-for="InvoiceRequestAddress.AddressName" asp-required="true"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            <nop-label asp-for="InvoiceRequestAddress.Country"/>
                        </div>
                        <div class="col-sm-4">
                            <nop-editor asp-disabled="@(Model.InvoiceRequestStatusId != (int) InvoiceRequestStatusEnum.FAILED)" asp-for="InvoiceRequestAddress.Country" asp-required="true"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            <nop-label asp-for="InvoiceRequestAddress.City"/>
                        </div>
                        <div class="col-sm-4">
                            <nop-editor asp-disabled="@(Model.InvoiceRequestStatusId != (int) InvoiceRequestStatusEnum.FAILED)" asp-for="InvoiceRequestAddress.City" asp-required="true"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            <nop-label asp-for="InvoiceRequestAddress.Province"/>
                        </div>
                        <div class="col-sm-4">
                            <nop-editor asp-disabled="@(Model.InvoiceRequestStatusId != (int) InvoiceRequestStatusEnum.FAILED)" asp-for="InvoiceRequestAddress.Province" asp-required="true"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            <nop-label asp-for="InvoiceRequestAddress.PostalCode"/>
                        </div>
                        <div class="col-sm-4">
                            <nop-editor asp-disabled="@(Model.InvoiceRequestStatusId != (int) InvoiceRequestStatusEnum.FAILED)" asp-for="InvoiceRequestAddress.PostalCode" asp-required="true"/>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-body">
                    <h4>@T(TMB.PLUGIN_NAME_SPACE + ".InvoiceRequest.TransitCode").Text</h4>
                    
                    <div class="form-group row">
                        <div class="col-sm-9">
                            @await Html.PartialAsync("Table", new DataTablesModel
                            {
                                Name = "invoice-request-grid",
                                UrlRead = new DataUrl("ListTransitCode", "InvoiceRequest", new RouteValueDictionary { [nameof(Model.Id)] = Model.Id }),
                                Length = Int32.MaxValue,
                                ColumnCollection = new List<ColumnProperty>
                                {
                                    new(nameof(InvoiceRequestTransitCodeModel.Code))
                                    {
                                        Title = T(TMB.PLUGIN_NAME_SPACE + ".InvoiceRequest.TransitCode").Text,
                                        Editable = true,
                                        EditType = EditType.String
                                    },
                                    new(nameof(InvoiceRequestTransitCodeModel.InvoiceRequestTransitCodeStatusDescription))
                                    {
                                        Title = T(TMB.PLUGIN_NAME_SPACE + ".InvoiceRequest.Status").Text,
                                    },
                                    new(nameof(InvoiceRequestTransitCodeModel.PdfName))
                                    {
                                        Title = T(TMB.PLUGIN_NAME_SPACE + ".InvoiceRequest.Pdf").Text,
                                    }
                                }
                            })
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>