@using Nop.Plugin.TMB
@using Nop.Plugin.TMB.Helpers
@model global::Nop.Plugin.TMB.Model.Admin.InvoiceRequest.InvoiceRequestModel

@{
    Html.SetActiveMenuItemSystemName(TMB.PLUGIN_NAME_SPACE + ".InvoiceRequest");
    Layout = $"_AdminLayout";
}

<form asp-controller="InvoiceRequest" asp-action="Edit" method="post" id="invoicerequest-edit-form">
    <nop-antiforgery-token />
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Common.Edit")
            <small>
                <i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T(TMB.PLUGIN_NAME_SPACE + ".InvoiceRequest.BackToList").Text, "List")
            </small>
        </h1>
        @if (Model.InvoiceRequestStatusId == (int)InvoiceRequestStatusEnum.FAILED)
        {
            <div class="float-right">
                <button type="submit" name="save" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    @T("Admin.Common.Save")
                </button>
                <button type="submit" name="save-continue" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    @T("Admin.Common.SaveContinue")
                </button>
                <span id="-delete" class="btn bg-red">
                    <i class="fa fa-trash-o"></i>
                    @T("Admin.Common.Delete")
                </span>
            </div>
        }
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default">
                        <div class="card-body">
                            @Html.Partial("_CreateOrUpdate", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<nop-delete-confirmation asp-button-id="invoicerequest-delete" asp-model-id="@Model.Id" />